<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <environment include ="Development">
    <link href = "~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    </environment>
    <environment include ="Staging, Production">
         @*Load from the cdn*@
    </environment>
    <environment exclude = "Development">
        @*Link from the cdn*@
    </environment>
    <link href = "~/css/site.css" rel="stylesheet" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div class = "container">
        @RenderBody()
    </div>
    @if (IsSectionDefined("Scripts"))
    {
        @RenderSection("Scripts", required:true)
    }
</body>
</html>